html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

div {
    display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.icon {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.bb-nav {
	top: 0;
	position: fixed;
	height: 4rem;
    width: 100%;
    z-index: 1;
    background-color: #f1f1f1!important;
}

.bb-nav-links {
    color: #000!important;
    font-size: 18px!important;
}

.bb-nav-link {
	width: 24.99999%;
	float: left;
}

.bb-nav-link:hover{
	background-color: #616161!important;
}

.bb-link {
	display: block;
    width: 100%;

    user-select: none;

    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.bb-content {
	max-width: 1100px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
    margin-right: auto;
}

.bb-title {
	argin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
}

.bb-about {
    padding: 0.01em 16px;
	margin-bottom: 16rem;	
}

.bb-about-title {
	padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-about-title-span {
    border-color: #616161!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 6px solid #ccc!important;
    font-size: 24px!important;
}

.bb-about-box-1 {
    width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #000!important;
    background-color: #f1f1f1!important;
    height: 15rem;
}

.bb-about-box-2 {
	width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #000!important;
    background-color: #9e9e9e!important;
    height: 15rem;
}

.bb-about-box-3 {
	width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #fff!important;
    background-color: #616161!important;
    height: 15rem;
}

.bb-about-box-4 {
	width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #fff!important;
    background-color: #000!important;
    height: 15rem;
}

@media screen and (max-width: 992px) {
	.bb-about-box-1, .bb-about-box-2, .bb-about-box-3, .bb-about-box-4 {
	    width: 49.99999%;
	}
}

@media screen and (max-width: 600px) {
	.bb-about-box-1, .bb-about-box-2, .bb-about-box-3, .bb-about-box-4 {
	    width: 99.99999%;
	}
}

.bb-slideshow {
	padding: 0.01em 16px;
}

.bb-display {
	position: relative;
	display: block;
}

.bb-display-text {
	padding-top: 32px!important;
    padding-bottom: 32px!important;
    padding: 0.01em 16px;
}

.bb-left {
	position: absolute;
    left: 0;
    top: 0;
}

.bb-middle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bb-right {
	position: absolute;
    right: 0;
    top: 0;
}

.bb-span-text {
	color: #000!important;
    background-color: #fff!important;
    padding: 12px 24px!important;
    position: relative;
    animation: animatebottom 0.4s;
}

.bb-slideshow-buttons {
	color: #fff!important;
    background-color: #616161!important;
    padding: 8px 16px!important;
    font-size: 24px!important;
}

.bb-slideshow-left {
	float: left!important;
}

.bb-slideshow-right {
	float: right!important;
}

.bb-slideshow-middle {
	text-align: center!important;
}
.bb-slideshow-image {
	height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px;
    cursor: pointer;
    border: 1px solid #ccc!important;
    display: inline-block;
    text-align: center;
}

.bb-white {
	color: #000!important;
    background-color: #fff!important;
}

.bb-who {
    padding: 0.01em 16px;
	margin-bottom: 16rem;
}

.bb-who-title {
	padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-who-title-span {
    border-color: #616161!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 6px solid #ccc!important;
    font-size: 24px!important;
}

.bb-who-box {
	padding: 0 8px;
    margin-bottom: 16px!important;
    float: left;
}

@media (min-width: 601px) {
	.bb-who-box {
	    width: 33.33333%;
	}
}

.bb-who-card {
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.bb-who-container {
    padding: 0.01em 16px;
}

.bb-who-opacity {
    opacity: 0.60;
}

.bb-who-button {
    color: #000!important;
    background-color: #f1f1f1!important;
    display: block;
    width: 100%;
    user-select: none;

    order: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    margin: 0;
}

.bb-pricing {
    padding: 0.01em 16px;
	margin-bottom: 16rem;
}

.bb-pricing-title {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-pricing-box {
    margin-bottom: 16px!important;
    float: left;
}

@media (min-width: 601px) {
	.bb-pricing-box {
	    width: 33.33333%;
	}
}

.bb-pricing-box-list {
	border: 1px solid #ccc!important;
    text-align: center!important;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bb-pricing-box-list-title {
	color: #fff!important;
    background-color: #000!important;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    font-size: 24px!important;
}

.bb-pricing-box-list-item {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.bb-spacing {
	letter-spacing: 4px;
}

.bb-opacity {
	opacity: 0.60;
}

.bb-pricing-button-box {
	color: #000!important;
    background-color: #f1f1f1!important;
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}

.bb-pricing-button {
	color: #fff!important;
    background-color: #4CAF50!important;
    padding: 12px 24px!important;
    user-select: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb !important;
    align-items: flex-start;
    text-indent: 0px;
    text-shadow: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
    writing-mode: horizontal-tb !important;
}

.bb-contact {
	padding-top: 64px!important;
    padding-bottom: 64px!important;
	margin-bottom: 16rem;
}

.bb-contact-title {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-contact-title-span {
    border-color: #616161!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 6px solid #ccc!important;
    font-size: 24px!important;
}

.bb-contact-form {
    padding: 0.01em 16px;
}

.bb-contact-section {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.bb-contact-input {
	width: 100%;
    border: 1px solid #ccc!important;
    padding: 8px;
    display: block;
    overflow: visible;
    font: inherit;
    margin: 0;
}

.bb-contact-submit {
    color: #fff!important;
    background-color: #000!important;
    display: block;
    width: 100%;
    user-select: none;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
}

.bb-footer {
	color: #000!important;
    background-color: #f1f1f1!important;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    text-align: center!important;
    padding: 0.01em 16px;
    display: block;
}

.bb-footer-link {
    color: #fff!important;
    background-color: #000!important;
    margin: 16px!important;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.bb-footer-right {
    margin-right: 16px!important;
}

.bb-footer-section {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
    font-size: 24px!important;
}

.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
