html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

div {
    display: block;
}

* {
  box-sizing: border-box;
}

.icon {
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.bb-nav {
	top: 0;
	position: fixed;
	height: 4rem;
    width: 100%;
    z-index: 1;
    background-color: #f1f1f1!important;
}

.bb-nav-links {
    color: #000!important;
    font-size: 18px!important;
}

.bb-nav-link {
	width: 24.99999%;
	float: left;
}

.bb-nav-link:hover{
	background-color: #616161!important;
}

.bb-link {
	display: block;
    width: 100%;

    user-select: none;

    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.bb-content {
	max-width: 1100px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
    margin-right: auto;
}

.bb-content-header {
	margin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
}

.bb-container {
    padding: 0.01em 16px;
    margin-top: 4rem;
}

.bb-container-header {
	padding-top: 32px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-container-header-span {
    border-color: #616161!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 6px solid #ccc!important;
    font-size: 24px!important;
}

.bb-block-box {
    width: 25%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    height: 15rem;
}

.bb-block-box-color-1 {
    color: #000!important;
    background-color: #f1f1f1!important;
}
.bb-block-box-color-2 {
    color: #000!important;
    background-color: #9e9e9e!important;
}
.bb-block-box-color-3 {
    color: #000!important;
    background-color: #616161!important;
}
.bb-block-box-color-4 {
    color: white;
    background-color: #000!important;
}


@media screen and (max-width: 992px) {
	.bb-block-box {
	    width: 50%;
	}
}

@media screen and (max-width: 600px) {
    .bb-block-box {
	    width: 100%;
	}
}

.bb-container-image {
    margin-top: 4rem;
	position: relative;
	display: block;
}

.bb-hover-box{
	padding: 0 8px;
    margin-bottom: 16px!important;
    float: left;
}

@media (min-width: 601px) {
	.bb-hover-box {
	    width: 33.33333%;
	}
}

.bb-hover-card {
    height: 15rem;
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.bb-hover-card-body {

}

.bb-hover-card-opacity {
    opacity: 0.60;
}



.bb-list-box {
    margin-bottom: 16px!important;
    float: left;
}

@media (min-width: 601px) {
	.bb-list-box {
	    width: 33.33333%;
	}
}

.bb-list-box-ul {
	border: 1px solid #ccc!important;
    text-align: center!important;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bb-list-box-title-li {
	color: #fff!important;
    background-color: #000!important;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    font-size: 24px!important;
}

.bb-list-box-li {
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}

.bb-contact-form {
    padding: 0.01em 16px;
}

.bb-contact-section {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}

.bb-contact-input {
	width: 100%;
    border: 1px solid #ccc!important;
    padding: 8px;
    display: block;
    overflow: visible;
    font: inherit;
    margin: 0;
}

.bb-contact-submit {
    color: #fff!important;
    background-color: #000!important;
    display: block;
    width: 100%;
    user-select: none;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    margin: 0;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    align-items: flex-start;
}

.bb-footer {
	color: #000!important;
    background-color: #f1f1f1!important;
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    text-align: center!important;
    padding: 0.01em 16px;
    display: block;
}

.bb-footer-link {
    color: #fff!important;
    background-color: #000!important;
    margin: 16px!important;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.bb-footer-right {
    margin-right: 16px!important;
}

.bb-footer-section {
    margin-top: 16px!important;
    margin-bottom: 16px!important;
    font-size: 24px!important;
}

.fa {cursor:pointer}
