html,body,h1,h2,h3,h4 {
	font-family:"Lato", sans-serif
}

.bb-nav {
	top: 0;
	position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #f1f1f1!important;
}

.bb-nav-links {
    color: #000!important;
    font-size: 18px!important;
}

.bb-nav-link {
	width: 24.99999%;
	float: left;
}

.bb-nav-link:hover{
	background-color: #616161!important;
}

.bb-link {
	display: block;
    width: 100%;

    user-select: none;

    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.bb-content {
	max-width: 1100px;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-left: auto;
    margin-right: auto;
}

.bb-title {
	argin-top: 16px;
    margin-bottom: 16px;
    padding: 0.01em 16px;
}

.bb-slideshow {
	padding: 0.01em 16px;
}

.bb-display {
	position: relative;
	display: block;
}

.bb-display-text {
	padding-top: 32px!important;
    padding-bottom: 32px!important;
    padding: 0.01em 16px;
}

.bb-left {
	position: absolute;
    left: 0;
    top: 0;
}

.bb-middle {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bb-right {
	position: absolute;
    right: 0;
    top: 0;
}

.bb-span-text {
	color: #000!important;
    background-color: #fff!important;
    padding: 12px 24px!important;
    position: relative;
    animation: animatebottom 0.4s;
}

.bb-slideshow-buttons {
	color: #fff!important;
    background-color: #616161!important;
    padding: 8px 16px!important;
    font-size: 24px!important;
}

.bb-slideshow-left {
	float: left!important;
}

.bb-slideshow-right {
	float: right!important;
}

.bb-slideshow-middle {
	text-align: center!important;
}
.bb-slideshow-image {
	height: 15px;
    width: 15px;
    padding: 0;
    margin-top: 6px;
    cursor: pointer;
    border: 1px solid #ccc!important;
    display: inline-block;
    text-align: center;
}

.bb-white {
	color: #000!important;
    background-color: #fff!important;
}

.bb-about {
    padding: 0.01em 16px;
}

.bb-about-title {
	padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-about-title-span {
    border-color: #616161!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 6px solid #ccc!important;
    font-size: 24px!important;
}

.bb-about-box-1 {
    width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #000!important;
    background-color: #f1f1f1!important;
}

.bb-about-box-2 {
	width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #000!important;
    background-color: #9e9e9e!important;
}

.bb-about-box-3 {
	width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #fff!important;
    background-color: #616161!important;
}

.bb-about-box-4 {
	width: 24.99999%;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
    padding: 0.01em 16px;
    float: left;
    color: #fff!important;
    background-color: #000!important;
}

@media screen and (max-width: 992px) {
	.bb-about-box-1, .bb-about-box-2, .bb-about-box-3, .bb-about-box-4 {
	    width: 49.99999%;
	}
}

@media screen and (max-width: 600px) {
	.bb-about-box-1, .bb-about-box-2, .bb-about-box-3, .bb-about-box-4 {
	    width: 99.99999%;
	}
}

.bb-who {
    padding: 0 8px;
}

.bb-who-title {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center!important;
}

.bb-who-title-span {
	border-color: #616161!important;
	padding-top: 16px!important;
    padding-bottom: 16px!important;
    border-bottom: 6px solid #ccc!important;
    font-size: 24px!important;
}

.bb-who-box {
	padding: 0 8px;
    margin-bottom: 16px!important;
    float: left;
}

@media (min-width: 601px) {
	.bb-who-box {
	    width: 33.33333%;
	}
}

.bb-who-card {
	box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.bb-who-container {
    padding: 0.01em 16px;
}

.bb-who-opacity {
    opacity: 0.60;
}

.bb-who-button {
    color: #000!important;
    background-color: #f1f1f1!important;
    display: block;
    width: 100%;
    user-select: none;

    order: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;

    -webkit-appearance: button;
    text-transform: none;
    font: inherit;
    margin: 0;
}

.bb-pricing {
    padding: 0 8px;
}

.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
